{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %} {% block content %}
<div id="intro">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="notification is-success">
    {{ messages[0] }}
  </div>
  {% endif %} {% endwith %}
  <h1>
    Pushups Tracker (Minimal Clone)!
  </h1>
  <center>
    <img
      src="{{ url_for('static', filename= 'images/pushup.gif') }}"
      alt="push-ups boi"
      height="250px"
    />
  </center>
  <p>
    Welcome to your pushups-logger! <br />This web app is a minimal clone of
    <a href="http://www.pushupslogger.com">http://www.pushupslogger.com</a> to
    implement basic CRUD and User Authentication functionality using Flask. You
    can add your push-ups workout here, track and visualise them. This project has been created by <h1 class="important-text">SHLOK GAUTAM</h1>(<i
      > update coming soon</i
    >).
  </p>
</div>
{% endblock %}